*{
    margin: 0;
    padding: 0
}
html,body{
    height: 100%;
}
footer{
    position: relative;
    width: 100%;
    height: 30px;
    left: 0;
    text-align: center;
    text-shadow: 4px 3px 2px #ff0000;
    bottom: 0px;
}

.layoutLoginFoto{
    background-image: url("css/2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.spanCenter{
    margin-top: 60px;
    /*font-size: 130px;*/
    text-shadow: 2px 2px 2px #ff0000;
    text-align: center;
}
.marginTopBoxLogin{
    margin-top: 200px;
}
.marginTopBoxRegistration{
    margin-top: 100px;
}
.marginTopBoxNewBook{
    margin-top: 100px;
}
.marginTopBoxBooks{
    margin-top: 50px;
}
.buttonTopLogin{
    margin-top: 10px;
}
.buttonTopRegistration{
    margin-top: 10px;
}
.shadowText{
    text-shadow: 4px 3px 2px #ff0000;
}
.formula{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.buttonRight{
    float: right;
}
.searchRight{
    float: right;
}
.borderRegistration{
    box-shadow: 2px 2px #ff0000;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    padding: 3px;
    margin-left: 350px;
    margin-right: 350px;
    border-spacing: 40px;
    margin-top: 10px;
}
.legendRegistration{
    box-shadow: 2px 2px #ff0000;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    padding: 3px;
    margin-left: 380px;
    margin-right: 380px;
    border-spacing: 40px;
    margin-top: 10px;
}
.borderLogin{
    Border-left: 1px solid black
}
.legendLogin{
    text-shadow: 2px 2px 2px #ff0000;
    text-align: center;
    padding: 10px
}
