<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title class="titlebar">BookCatalog</title>

    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sketchy/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-N8DsABZCqc1XWbg/bAlIDk7AS/yNzT5fcKzg/TwfmTuUqZhGquVmpb5VvfmLcMzp"
          crossorigin="anonymous">
<!--    <link rel="stylesheet"-->
<!--          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
<!--          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"-->
<!--          crossorigin="anonymous">-->

<!--    <link rel="stylesheet" href="css/style.css">-->
</head>
<body>

<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">BookCatalog</span>
</nav> <br>

<div class="container">
    <div class="row">
        <div class="col">
            <h5>New Book</h5>
        </div>
    </div>
    <form th:method="post" th:action="@{/add-book}" th:object="${book}">
        <table class="table">
            <tbody>
            <tr>
                <td th:text="Title"/>
                <td >
                    <input type="text"  class="form-control" placeholder="Title" id="title-input" th:field="*{title}" />
                </td>
            </tr>
            <tr>
                <td th:text="Author"/>
                <td >
                    <input type="text" class="form-control" placeholder="Author"id="author-input" th:field="*{author}" />
                </td>
            </tr>
            <tr>
                <td th:text="Description"/>
                <td >
                    <input type="text" class="form-control"  placeholder="Description" id="description-input" th:field="*{description}"/>
                </td>
            </tr>
            <tr>
                <td th:text="Year"/>
                <td >
                    <input type="text" class="form-control" placeholder="Year" id="year-input" th:field="*{year}"/>
                </td>
            </tr>
            <tr>
                <td th:text="Isbn"/>
                <td >
                    <input type="text" class="form-control" placeholder="Isbn" id="isbn-input" th:field="*{isbn}"/>
                </td>
            </tr>
            <tr>
                <td >
                    <a th:href="@{/book-list}" ><button type="button" class="btn btn-outline-secondary">Back To Book List</button></a>
                    </td>
                <td class="text-right">
                   <form >
                        <input type="reset" class="btn btn-outline-warning" value="Reset">
                        <input type="submit" class="btn btn-outline-success" th:value="Submit" />
                    </form>
                </td>
            </tr>
        </table>
    </form>
   </div>

<h2><footer class="text-center"> Copyright &#169 2019 Daniel Trochonowicz </footer></h2>

</body>
</html>
