<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"> <head>
    <meta charset="UTF-8">
    <title>BookCatalog</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">BookCatalog</span>
</nav> <br>
<div class="container">
    <div class="row">
        <div class="col">
            <h5>Book Detail</h5>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr></tr>
        </thead>
        <tbody>
        <tr>
            <td>Title</td>
            <td th:text="${book.title}"/>
        </tr>
        <tr>
            <td>Author</td>
            <td th:text="${book.author}"/>
        </tr>
        <tr>
            <td>Description</td>
            <td th:text="${book.description}"/>
        </tr>
        <tr>
            <td>Year</td>
            <td th:text="${book.year}"/>
        </tr>
        <tr>
            <td>Id</td>
            <td th:text="${book.id}"/>
        </tr>
        <tr>
            <td>Isbn</td>
            <td th:text="${book.isbn}"/>
        </tr>
    </table>

    <a href = "http://localhost:8087/book-list" ><button type="button" class="btn btn-outline-secondary">Back to book list</button></a>
</div>
<h2><footer> Copyright &#169 2019 Daniel Trochonowicz </footer></h2>
</body>
</html>