<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title class="titlebar">BookCatalog</title>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1 shadowText" >BookCatalog</span>
</nav>

<div class="container marginTopBoxBooks">
    <div class="row">
        <div class="col">
            <h5>Sukces User Registration </h5>

        </div>
    </div>
    <table class="table">

        <tr>
            <td>
                <span th:text="${user.firstName}" />
            </td>
        </tr>

        <tr>
            <td>
                <span th:text="${user.lastName}" />
            </td>
        </tr>

        <tr>
            <td>
                <span th:text="${user.email}" />
            </td>
        </tr>

        <tr>
            <td>
                <span th:text="${user.password}" />
            </td>
        </tr>

        <tr>
            <td>
                <span th:text="${user.passwordAgain}" />
            </td>
        </tr>

    </table>
    <a th:href="@{/book-userLogin}" ><button type="button" class="btn btn-outline-secondary">Back To Login</button></a>
</div>
<h2><footer > Copyright &#169 2019 Daniel Trochonowicz </footer></h2>
</body>
</html>