<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title class="titlebar">BookCatalogLogin</title>

        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">

        <link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
<!--<nav class="navbar navbar-light bg-light spanCenter">-->
<!--    <span class="navbar-brand mb-0 h1" >BookCatalogLogin</span>-->
<!--</nav> <br>-->
<div class="container marginTopBoxLogin">
    <div class="formula ">


        <fieldset class="borderRegistration">
            <legend class="legendRegistration legendLogin">
        <h1>Book Catalog </h1>
            </legend>
<!--            <form th:action="@{/logowanie}" method="post">-->
        <form th:action="@{/logowanie}" method="POST">
            <div>Login:</div> <input  name="email" type="email" email="email" placeholder="Email Login" autocomplete="on"><br>
            <div>Password:</div> <input name="password" type="password"  password="password" placeholder="Password" autocomplete="on"><br>

            <td class="p">
                <button class="btn btn-outline-warning buttonTopLogin" type="reset" value="Reset">  Reset</button>
                <button class="btn btn-outline-success buttonTopLogin" type="submit" value="Submit"> Login </button>
            </td>

        </form>
        </fieldset>
        <fieldset class="borderRegistration">
            <tr class="br brRight brLef">
                <td >
                    <div class="shadowText"><h3>Don't have an account?</h3></div> <a th:href="@{/book-userRegistration}" ><button type="button" class="btn btn-outline-secondary ">Registration</button></a>
                </td>
            </tr>
        </fieldset>
    </div>
</div>
<h2><footer > Copyright &#169 2019 Daniel Trochonowicz </footer></h2>
</body>
</html>
