<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>sukces</title>
</head>
<body>

<div class="container marginTopBoxNewBook">
    <div class="row">
        <div class="col">
            <h5>User</h5>
        </div>
    </div>
    <table class="table">

        <tr>
            <td>
                <span th:text="${user.firstName}" />
            </td>
        </tr>

        <tr>
            <td>
                <span th:text="${user.lastName}" />
            </td>
        </tr>

        <tr>
            <td>
                <span th:text="${user.email}" />
            </td>
        </tr>

        <tr>
            <td>
                <span th:text="${user.password}" />
            </td>
        </tr>

        <tr>
            <td>
                <span th:text="${user.passwordAgain}" />
            </td>
        </tr>

    </table>
</div>
</body>
</html>