<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"> <head>
    <meta charset="UTF-8">
    <title>BookCatalog</title>

<!--    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sketchy/bootstrap.min.css"-->
<!--          rel="stylesheet"-->
<!--          integrity="sha384-N8DsABZCqc1XWbg/bAlIDk7AS/yNzT5fcKzg/TwfmTuUqZhGquVmpb5VvfmLcMzp"-->
<!--          crossorigin="anonymous">-->
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">BookCatalog</span>
</nav>
<br>
<div class="container">
    <div class="row">
        <div class="col">

            <h5>Serch Book</h5>
        </div>
    </div>

    <table class="table">

        <thead>
        <tr>
            <th scope="col ">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Isbn</th>
            <th scope="col">Description</th>
            <th scope="col">Year</th>
            <th scope="col">Author</th>
        </tr>

        <tr th:each="book: ${books}">

            <td th:text="${book.id}"/>
            <td th:text="${book.title}"/>
            <td th:text="${book.isbn}"/>
            <td th:text="${book.description}"/>
            <td th:text="${book.year}"/>
            <td th:text="${book.author}"/>
            <td>
        </thead>
    </table>

    </tr>
    <tr>
        <td>
            <a th:href="@{/book-list}" ><button type="button" class="btn btn-outline-secondary ">Back To Book List</button></a>
            </td>
    </tr>
</div>
<h2><footer > Copyright &#169 2019 Daniel Trochonowicz </footer></h2>
</body>
</html>